<html>
<head>
    <title>Vue.js 애완용품샵</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <main>
            <header>
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <h1>{{sitename}}</h1> 
                    </div>
                    <div class="nav navbar-nav navbar-right cart">
                        <button type="button" 
                            class="btn btn-default btn-lg"
                            v-on:click="showCheckout">
                            <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span>
                            <span>체크아웃</span>
                        </button>             
                    </div>
                </div> 
            </header>
                <div v-if="showProduct">
                    <div v-for="product in sortedProducts">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-0">
                                <figure>
                                    <img class="product" v-bind:src="product.image">
                                </figure>
                            </div>
                            <div class="col-md-6 col-md-offset-0 description">
                                <h1>{{product.title}}</h1>
                                <p v-html="product.description"></p>
                                <p class="price">
                                    {{product.price | formatPrice}}
                                </p>
                                <button class="btn btn-primary btn-lg" 
                                    v-on:click="addToCart(product)" 
                                    v-if="canAddToCart(product)"
                                    >장바구니 담기
                                </button>

                                <button disabled="true" class="btn btn-primary btn-lg"
                                    v-else
                                    >장바구니 담기</button>
                                <span class="inventory-message"
                                v-if="product.availableInventory - cartCount(product.id) === 0">
                                    품절!
                                </span>
                                <span class="inventory-message"
                                v-else-if="product.availableInventory - cartCount(product.id) < 5">
                                    {{product.availableInventory - cartCount(product.id)}} 남았습니다!
                                </span>
                                <span class="inventory-message"
                                v-else>
                                    지금 구매하세요!
                                </span>
                                <div class="rating">
                                    <span v-bind:class="{'rating-active': checkRating(n,product)}" v-for="n in 5">☆</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="col-md-6">
                        <strong>이름: </strong>
                        <input v-model.lazy.trim="order.firstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <strong>성: </strong>
                        <input v-model.lazy.trim="order.lastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><stong>주소:</stong></div>
                        <div class="col-md-12">
                            <input v-model.lazy.trim="order.address" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><stong>도시:</stong></div>
                        <div class="col-md-12">
                            <input v-model.lazy.trim="order.city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <stong>주:</stong>
                            <select v-model="order.state" class="form-control" >
                                <option disabled value="">주</option>
                                <option v-for.trim="(state,key) in states" v-bind:value="state">{{state}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"><stong>우편번호:</stong>
                            <input v-model.number.trim="order.zip" type="number" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 boxes">
                            <input type="checkbox"
                                id="gift"
                                value="true"
                                v-bind:true-value="order.sendGift"
                                v-bind:false-value="order.dontSendGift"
                                v-model="order.gift">
                            <label for="gift">선물로 보내기?</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 boxes">
                            <input type="radio"
                                id="home"
                                v-bind:value="order.home"
                                v-model="order.method">
                            <label for="home">자택</label>
                            <input type="radio"
                                id="business"
                                v-bind:value="order.business"
                                v-model="order.method">
                            <label for="business">직장</label>
                        </div>
                    </div>
                    <div class="col-md-12 verify">
                        <pre>
                            이름: {{order.firstName}}
                            성: {{order.lastName}}
                            주소: {{order.address}}
                            도시: {{order.city}}
                            우편번호: {{order.zip}}
                            주: {{order.state}}
                            주소지: {{order.method}}
                            선물: {{order.gift}}
                        </pre>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">주문하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var APP_LOG_LIFECYCLE_EVENTS = true;

        var webstore= new Vue({
            el: "#app",
            data: {
                showProduct: true,
                states: [
                        '알리바마',
                        '애리조나',
                        '캘리포니아',
                        '네바다',
                    ],
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                   
                    state: '',
                    zip: '',
                    gift: '선물로 보내기',
                    method: '자택 주소',
                    business: '직장 주소',
                    home: '자택 주소',
                    sendGift: '선물로 보내기',
                    dontSendGift: '선물로 보내지 않기',
                },
                sitename: "Vue.js 애완용품샵",
                products: [],
                cart: [],
            },
            filters: {
                formatPrice: function(price) {
                    if(!parseInt(price)) { return "";}
                    if (price >9999) {
                        var priceString = (price /100).toFixed(2);
                        var priceArray = priceString.split("").reverse();
                        var index = 3;
                        
                        while(priceArray.length > index + 3) {
                            priceArray.splice(index + 3, 0, ",");
                            index +=4
                        }
                        return "$" + priceArray.reverse().join("");
                    }
                    else {
                        return "$" + (price/100).toFixed(2);
                    }
                }
            },
            methods: {
                addToCart: function(myProduct) {
                    this.cart.push(myProduct.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false: true;
                },
                submitForm(){
                    alert('제출 완료');
                },
                checkRating(n, myProduct) {
                    return myProduct.rating - n >=0;
                },
                cartCount(id) {
                    let count=0;
                    for (var i=0; i< this.cart.length; i++){
                        if(this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart: function (myProduct) {
                    return myProduct.availableInventory > this.cartCount(myProduct.id);
                },
            },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || '';
                },
                sortedProducts() {
                    if(this.products.length > 0 ) {
                        let productsArray = this.products.slice(0);
                        function compare(a, b) {
                            if(a.title.toLowerCase() < b.title.toLowerCase())
                                return -1;
                            if(a.title.toLowerCase() > b.title.toLowerCase())
                                return 1;
                            return 0;
                        }
                        return productsArray.sort(compare);
                    }
                }
                
            },
            beforeCrete: function() {
                if(APP_LOG_LIFECYCLE_EVENTS) {
                    console.log("beforeCrete");
                }
            },
            created: function(){
                axios.get('./products.json')
                    .then((response) => {
                        this.products=response.data.products;
                        console.log(this.products);
                    });

                if (APP_LOG_LIFECYCLE_EVENTS){
                    console.log("created");
                }
            },
            beforeMount: function() {
                if(APP_LOG_LIFECYCLE_EVENTS){
                    console.log("beforeMount");
                }
            },
            mounted: function() {
                if(APP_LOG_LIFECYCLE_EVENTS){
                    console.log("mounted");
                }
            },
            beforeUpdate: function(){
                if(APP_LOG_LIFECYCLE_EVENTS){
                    console.log("beforeUpdate");
                }
            },
            updated: function(){
                if (APP_LOG_LIFECYCLE_EVENTS){
                    console.log("updated");
                }
            },
            beforeDestroy: function() {
                if(APP_LOG_LIFECYCLE_EVENTS){
                    console.log("beforeDestroy");
                }
            },
            destroyed: function() {
                if(APP_LOG_LIFECYCLE_EVENTS){
                    console.log("destroyed");
                }
            }
        });
    </script>
</body>
</html>
